.container-CS {
  padding: 100px 0;
  .case-study {
    @include view(flex, center, center);
    .case-study-container {
      // background: orange;
      max-width: 1200px;
      .case-1,
      .case-2,
      .case-3,
      .case-4 {
        @include view(flex, space-between, center);
        flex-wrap: wrap;
        .content,
        .image {
          width: 50%;
        }
        .content {
          padding: 0 50px;
          h2 {
            font-size: 35px;
          }
          p {
            margin-top: 5px;
            line-height: 1.5;
          }
          button {
            margin: 25px 0;
            outline: none;
            border: none;
            background: #002947;
            color: #fff;
            font-size: 16px;
            border-radius: 4px;
            transition-duration: 0.5s;
            padding: 10px 15px;
            cursor: pointer;
            &:hover {
              transform: translateY(-3px);
              transition-property: transform;
              transition-timing-function: ease-out;
              transition-duration: 0.5s;
              cursor: pointer;

              // box-shadow: 5px 5px 10px #00000003 inset;
              filter: drop-shadow(0px 10px 10px #0000004a);
              background: #01385f;
            }
          }
        }
        .image {
          @include view(flex, center, center);

          img {
            height: 500px;
            width: 100%;
          }
        }
      }

      .case-2 {
        .image {
          overflow: hidden !important;
        }
      }
    }
  }
}

@media screen and (max-width: 425px) {
  h1 {
    font-size: 32px !important;
  }
  .case-1,
  .case-3 {
    flex-direction: column-reverse !important;

    .content,
    .image {
      width: 100% !important;
    }
  }

  .case-2,
  .case-4 {
    .content,
    .image {
      width: 100% !important;
    }
  }
  .content{
    button{
      padding: 13px 18px !important;
    }
  }
}
